.footer {
  height: 40rem;

  @media only screen and (max-width: 768px) {
    height: 30rem;
  }
  @media only screen and (max-width: 380px) {
    min-height: 50rem;
  }

  // background-color: #ddef45;

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-color: red;
    height: 90%;

    @media only screen and (max-width: 768px) {
      padding: 0;
      flex: 1;
    }
  }
  &__contact {
    display: flex;
    flex-direction: column;
    height: 50%;
    // background-color: green;
    align-items: center;
    justify-content: center;
    width: 90%;

    @media only screen and (max-width: 380px) {
      //   background-color: red;
    }
  }
  &__links {
    flex: 1;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // background-color: blue;

    @media only screen and (max-width: 768px) {
      width: 100%;
    //   background-color: orange;
    }
    @media only screen and (max-width: 380px) {
      min-height: 30rem;
      width: 90%;
      flex-wrap: wrap;
    //   background-color: aqua;
    }
  }
  &__container {
    @media only screen and (max-width: 480px) {
      flex: 0 33%;
    }
  }
  &__container:not(:last-child) {
    height: 15rem;
    width: 15rem;
    // background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  &__container:last-child {
    height: 15rem;
    width: 15rem;
    // background-color: red;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

   
  }
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 0 0 70%;
  }

  &__link {
    &,
    &:link,
    &:visited {
      text-decoration: none;
      letter-spacing: 1px;
      font-weight: 300;
      color: #909090;
      font-size: 1.5rem;
    }

    &:hover,
    &:active {
      color: $color-primary;
    }
  }
  &__header {
    font-size: 1.5rem;
    color: $color-black;

    @media only screen and (max-width: 768px) {
    }
    @media only screen and (max-width: 480px) {
      margin-right: 0.5rem;
    }
  }
  &__bottom {
    background-color: #5db380;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    font-size: 1.5rem;

    @media only screen and (max-width: 768px) {
    }
  }

  &__underline {
    display: block;
    width: 3rem;
    height: 2px;
    background-color: $color-primary;
  }
}
